body {
    font-family: "Lora", Palatino, Times, "Times New Roman", serif;
}

.row p, .row ul {
    font-size: 1.0625rem;
    line-height: 1.875rem;
    margin-top: 1rem;
}

.title-header {
    font-size: 1.875rem;
    font-weight: 400;
}

.section-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.authors, .affiliation {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.authors {
    margin-bottom: 0.8rem;
}

.cite-text {
    font-size: 0.9rem;
    line-height: 1.9rem;
    padding-top: 0.5rem;
}

.cite {
    background-color: #EDF0F1;
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}