/* link color */

a {
    color: #007bff !important;
}

a:active {
    color: #007bff !important;
}

a:hover {
    color: #0056b3 !important;
}

body {
    font-size: 1.125rem;
    color: #555555;
}

#header {
    max-width: 75rem;
    width: 100%;
    height: 18rem;
    margin: 0 auto 4.5rem;
}

hr {
    border-top: .08rem solid #CCCCCC;
}

.vspace {
    margin-bottom: 1.25rem;
}

.vspace-top {
    margin-top: 1rem;
}

.section {
    margin-bottom: 1.25rem;
}

.logo-image {
    width: 6.8rem;
    padding-bottom: 0rem;
    vertical-align: middle;
}

.container {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.cite {
    background-color: #EDF0F1;
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}

.section-header {
    font-size: 2rem;
    font-weight: 500;
    /* margin-top: .625rem;
       margin-bottom: 1.25rem; */
}

.title-header {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}

.no-pad {
    padding: 0;
}

.authors {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.affiliations {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.logos {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.row p {
    margin-top: 1rem;
}

.row ul {
    margin-top: 1rem;
}

.funding {
    font-size: .8rem;
}
