/* link color */

a {
    color: #007bff !important;
}

a:active {
    color: #007bff !important;
}

a:hover {
    color: #0056b3 !important;
}

body {
    color: #555555;
}

.container {
    max-width: 960px;
}

hr {
    border-top: .08rem solid #CCCCCC;
}

.title-header {
    font-size: 2rem;
    font-weight: 500;
}

.section-header {
    font-size: 1.5rem;
    font-weight: 500;
}

.authors {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.cite {
    background-color: #EDF0F1;
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}

.row p {
    margin-top: 1rem;
}

.row ul {
    margin-top: 1rem;
}

.funding {
    font-size: 0.8rem;
}
