@font-face {
  font-display: swap;
  font-family: "Figtree Variable";
  src: url("../fonts/Figtree-VF.woff2") format("woff2");
  font-weight: 300 900;
}

@font-face {
  font-display: swap;
  font-family: "Figtree Variable";
  src: url("../fonts/Figtree-Italic-VF.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
}